<div id="Feeds">
  <h1 class="Feeds-title">Feeds</div>
  <ul class="Feeds-list">
    <% @feeds.each do |feed| %>
    <li class="Feeds-listItem">
      <%= link_to feed.name, feed_path(feed.id), class: 'Feeds-listItemLink' %>
    </li>
    <% end %>
  </ul>
</div>
