<div class="Playlist">
  <h1 class="Playlist-title">Songs</h1>
  <div class="Playlist-player">
    <div class="SpotifyPlaylistPlayer">
      <iframe class="SpotifyPlaylistPlayer-iframe" src="<%= spotify_trackset_src_for @songs %>" width="300" height="80" frameBorder="0" allowTransparency="true"></iframe>
    </div>
  </div>
  <ul class="Playlist-songList">
   <% @songs.each do |song| %>
     <li class="Playlist-songListItem">
       <%= render song, include_recommendations: true %>
     </li>
   <% end %>
  </ul>
  <%= paginate @songs %>
</div>
