// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Song {
  height: 80px;
  margin: 10px;
}

.Song-playButton {
  display: inline-block;
  margin-right: 5px;
}

.Song-details {
  display: inline-block;
  vertical-align: top;
}
